/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* THINGS CHANGED TO WORK IN SAKAI 3 */

html {
	background: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

.header .fixed-container {
    background-image: none;
}

#portfolio_level_options ul {
    background:  #FFFFFF url("/dev/_images/tab_bg_left.png") no-repeat top left;
}

#portfolio_level_options li {
    list-style-type: none;
    display: inline;
    float: left;
    
}

#portfolio_level_options li a {
    padding: 5px;
}

#edit_tooltip {
    color: #055089; 
    background-color: #d6d8df; 
    font-weight: bold; 
    font-size: 1.5em; 
    line-height: 2.2em; 
    padding: 7px;
    border: 1px solid #d6d8df; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}

.sakai_site .content_page_options {
    margin-bottom: 5px;
}
.content p {
	font-size: 1.1em;
}

table {
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 1.1em;
	border: none;
}
/* hiding/changing Sakai navigation */
.explore_nav ul.explore li {
	padding: 0;
}

.explore_nav ul.explore li.explore_nav_selected {
	border-left: none;
}

.explore_nav .personal-container {
	background-image: none;
}

.explore_nav .personal {
	background-image: none;
}
.sakai_site .add_new_menu#add_new_menu {
	position: static;
}

/* Note misspelling: genaral for general */
#genaral_search_container {
	/*display: none;*/
}

#chat_main_container {
	display: none !important;
}
.sakai_site .sakai_site_contents_main {
	border: none;
}

#title-input-container {
	margin-bottom: 10px;
}
.portfolio_page_content td, .portfolio_page_content th {
	border: none;
}

#portfolio_logo {
	display: none;
}

#portfolio_primary_navigation {
	width: auto;
	margin-top: 10px;
	padding: 5px;
/*	border-bottom: 3px solid #055089;
	border-top: 3px solid #055089;*/
	font-size: 13px;
}

#portfolio_primary_navigation ul li a#navigation_page_selected {
	background-color: #E0F2FE;
}

#portfolio_primary_navigation ul li a#navigation_page_selected:hover {
	background-color: #E0F2FE;
}

div.navigation div.nav_content
{ border-left: none; border-right: none; padding: 10px 5px 5px 5px; margin: 0; }

div.navigation div.nav_content li a.rootpage
{ background-image: none; }

#siterecentactivity_output {
	display: none !important;
}

.nav_titlebar, .nav_bottom {
	display: none;
}

#page_nav_content p {
	margin: 0;
	padding: 0;
}

/* THINGS THAT ARE IDENTICAL IN BOTH SAKAI 2 AND 3 (Except paths in URLs) */

body {
  font-family: Arial, Helvetica, sans-serif;	
	font-size: 0.81em;
}

table {
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 100%;
}

#xEditingArea {
	border: 1px dashed #666666;
}

#currentlyEditingPage_1234 table {
	width: 100%;
}

#portfolio_wrapper {
	width: 980px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}



#portfolio_splash {
	height: 90px; /* Match the background image height for this layout */
	background-image:url(/dev/_skins/silicon/images/silicon.jpg);
	text-align: right;
	margin-top: 20px;
}

#portfolio_participant_name {
	font-family:"Arial Black", "Arial Rounded MT Bold", Arial, Helvetica, san-serif;
	font-size: 2.3em;
	color: #E0F2FE;
	padding: 20px 0 0;
	margin: 0;
	margin-right: 15px;
}

#portfolio_title {
	padding-top: 0px;
	font-family:"Arial Black", "Arial Rounded MT Bold", Arial, Helvetica, san-serif;
	font-size: 1.8em;
	color: #E0F2FE;
	padding: 15px 0;
	margin: 0;
	margin-right: 15px;
}



#portfolio_primary_navigation ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#portfolio_primary_navigation ul li { display: inline; }

#portfolio_primary_navigation ul li a
{
	text-decoration: none;
	padding: .2em 1em;
	color: #055089;
	background-color: #FFFFFF;
	font-weight: bold;
	white-space: nowrap;
	border: 1px solid #055089;
	margin-right: 10px;
}

#portfolio_primary_navigation ul li a.active {
	background-color: #E0F2FE;
}

#portfolio_primary_navigation ul li a.active:hover {
	background-color: #E0F2FE;
}


#portfolio_primary_navigation ul li a:hover
{
	background-color: #E0F2FE;
}

/* Container for Secondary Nav and Portfolio Content */
#portfolio_page_body {
/* part of hack to get the secondary nav column to extend to the bottom of the page */
	overflow: hidden;
}

#portfolio_secondary_navigation {
  width: 223px;
  float: left;
  line-height: 140%;
  margin-top: 14px;
	text-align: left;
	padding: 5px 5px 5px 0px;
	/*border: 1px solid #055089;*/
	background-color: #E0F2FE;
	height: 100%;
/* part of hack to get the secondary nav column to extend to the bottom of the page */
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

#portfolio_secondary_navigation a {
  display:block;
  text-decoration: none;     
}

#portfolio_secondary_navigation a:hover {
  text-decoration: underline;
}

#portfolio_secondary_navigation ul li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 6px;
	margin-left: 0px;
	font-weight: bold;
}

#portfolio_secondary_navigation ul.subnav_list li.active {
	list-style-image: url(/dev/_skins/silicon/images/li.gif);
}

#portfolio_secondary_navigation ul {
  padding-left: 2.0em;
	margin-left: 0;
}

div.portfolio_page_content {
  margin-top: 14px;
	text-align: left;
	padding: 5px;
	/*border-top: 1px solid #055089;
	border-right: 1px solid #055089;*/
}

div.portfolioPage {
	clear: left;
}

div.examplePage {
	float: left;
	padding-left: 20px;
	width: 713px;
/* part of hack to get the secondary nav column to extend to the bottom of the page */
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

div.hidden_block {
	position: fixed;
	display: none;
	width: 1px;
	height: 1px;
	top: 1px;
}

#portfolio_footer {
	clear: left;
  font-size: 10px;
  color: #999;
	height: 60px; /* height of logo */
  text-align:center;
	background-image:url(/dev/_skins/silicon/images/logo.gif);
	background-repeat: no-repeat;
	background-position:center;
	margin-top: 10px;
}

h1 {
	font-size: 16px;
	color: #333333;
}
h2 {
	font-size: 14px;
	color: #333333;
     
}
h3 {
  font-size: 12px;
  color: #333;
  margin-bottom: 3px;
}
h4 {
  font-size: 12px;
  color: #333;
  margin: 3px;
  font-weight: normal;
  font-style: italic;
}

#resume h2 {
	margin-top: 0px;
}

#resume ul {
	margin-top: 0px;
}

img {
  border: 0px;
}
a {
	color: #055089;
	text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.active {
  text-decoration: underline;
     
}
#portfolio_page_body ul li {
  list-style-image: url(/dev/_skins/silicon/images/li.gif)
}

